*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: right;
    padding-right: 5vw;
    border-bottom: solid black 5px;
}
.wrapper{
    margin-top: 5vh;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .character{
    width: 15vw;
    height: 90%;
    background-color: rgb(131, 72, 72);
    margin-left: 5vw;
    text-align: center;
}
#name{
    border: none;
    width: 90%;
    background-color: rgb(236, 140, 140);
    border-radius: 10px;
    direction: rtl;
    font-size: 1.25rem;
}
#class{
    border: none;
    width: 90%;
    background-color: rgb(236, 140, 140);
    border-radius: 10px;
    text-align-last: center;
}
.wrapper .character select{
    width: 100%;
}
.wrapper .character .attribute{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 2em;
}
.wrapper .character .attribute input[type="range"]{
    -webkit-appearance: none;
    width: 40%;
    background: transparent;
}
.wrapper .character .attribute input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
.wrapper .character .attribute input[type="range"]:focus{
    outline: none;
}
.wrapper .character .attribute input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgb(236, 140, 140);
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
.wrapper .character .attribute input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgb(95, 82, 82);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.wrapper .character .attribute input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(95, 82, 82);
}
#createBtn{
    margin-top: 2em;
    width: 90%;
    height: 2rem;
    font-weight: bolder;
    border: none;
    background-color: rgb(204, 111, 111);
    border-radius: 10px;
}
#createBtn:hover{
    transition: background-color 0.2s;
    background-color: rgb(255, 144, 144);
}

.wrapper .game{
    width: 70vw;
    height: 90%;
    background-color: rgba(71, 155, 134, 1);
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .game:hover{
    transition: all 0.5s;
    background-color: rgba(71, 155, 134, 1);
}
.wrapper .game p{
    color: white;
}
.wrapper .disabled{
    background-color: rgba(71, 155, 134,0.5);
}

@media screen and (max-width: 800px) {
    .wrapper{
        margin-top: 0;
        flex-direction: column;
    }
    .wrapper .character{
        margin-left: 0;
        width: 100%;
    }
    .wrapper .game{
        margin-top: 5vh;
        margin-right: 0;
        width: 100%;
    }
}